<div class="container">
    <footer class="footer">
        <small>
            Copyright © <a href="http://www.naver.com/">Poyo</a> by <a href=http://www.google.com/>Minyeob</a>
        </small>
    </footer>
</div>